1.0/Samples/LinqToXsdDemo/DataContract/Invoice.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- 

Generated by:
"C:\Program Files\Microsoft SDKs\Windows\v6.0\Bin\SvcUtil" /dconly bin\Debug\DataContract.dll

-->

<xs:schema xmlns:tns="http://www.vertical.com/Invoice" elementFormDefault="qualified" targetNamespace="http://www.vertical.com/Invoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="tns:ArrayOfPosition" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosition" nillable="true" type="tns:ArrayOfPosition" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProdId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
</xs:schema>